$primary-purple: #a350bc;
$primary-grey: #414345;
$primary-white: #ffffff;
$primary-green: #b3d031;


$secondary-purple-dark: #814999;
$secondary-purple-light: #b16ac4;
$secondary-purple-bright: #d343fe;

$secondary-grey-dark: #727578;
$secondary-grey-light: #919394;

$secondary-red-dark: #731640;
$secondary-red-light: #911d52;

$secondary-green: #889e24;